.myLogo p img {
  position: absolute;
  right: -44px;
  width: 100%;
  max-width: 50px!important;
  filter: invert(1);
  bottom: -7px;
} 
.insta.icons:hover .onHover {
  display: block;
  cursor: pointer;
} 
html {
  scroll-behavior: smooth;
}
body{
  transition: all 0.5s linear;
}
@font-face {
    font-family: 'Blancha';
    src: url("../fonts/Blancha.eot");
    src: url("../fonts/Blancha.eot?#iefix") format("embedded-opentype"), url("../fonts/Blancha.woff2") format("woff2"), url("../fonts/Blancha.woff") format("woff"), url("../fonts/Blancha.ttf") format("truetype"), url("../fonts/Blancha.svg#Blancha") format("svg");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }
  
  @font-face {
    font-family: 'Blancha';
    src: url("../fonts/Blancha_1.eot");
    src: url("../fonts/Blancha_1.eot?#iefix") format("embedded-opentype"), url("../fonts/Blancha_1.woff2") format("woff2"), url("../fonts/Blancha_1.woff") format("woff"), url("../fonts/Blancha_1.ttf") format("truetype"), url("../fonts/Blancha_1.svg#Blancha") format("svg");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }
  @font-face {
    font-family: 'Paintdrips';
    src: url('../fonts/Paintdrips.eot');
    src: url('../fonts/Paintdrips.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Paintdrips.woff2') format('woff2'),
        url('../fonts/Paintdrips.woff') format('woff'),
        url('../fonts/Paintdrips.ttf') format('truetype'),
        url('../fonts/Paintdrips.svg#Paintdrips') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}




/* AnimationBlock */
.df {display: flex}
.aic {align-items: center}
.jcc {justify-content: center}

.loader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: black;
  color: white;
  z-index: 99;
}


/* AnimationBlockClose */


  html, body {
    scroll-behavior: smooth;
  }
  


:root{
    --primaryColor:#00dee3;
    --secondryColor:#333638;
    --blackColor:#000;
    --whiteColor:#fff;
    --lightBlackcolor:#141212
}
*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

.bgAura {
    height: 100vh;
    background: var(--primaryColor);
    width: 100%;
    max-width: calc(100% - 50%);
}
html body{
    background: var(--secondryColor);
}


body p{
    margin: 0;
    font-size: 18px;
    color: var(--whiteColor);
} 
.onFullScreenShowtext a[download] {
    display: block;
    color: #fff;
    background: #fd4766;
    padding: 10px 25px;
    max-width: max-content;
    border-radius: 30px;
    text-decoration: none;
    text-transform: capitalize;
    font-weight: 300;
    margin-top: 8px;
    transition: opacity .65s cubic-bezier(.05,.2,.1,1),transform .65s cubic-bezier(.05,.2,.1,1);
}
.onFullScreenShowtext a[download]:hover {
    transform: translateY(-4px);
    filter: drop-shadow(2px 4px 6px #fd4766);
}

.selfSignature {
    position: fixed;
    bottom: 35px;
    right: 0;
    z-index: 1;
    -webkit-transform: rotate(-27deg);
    transform: rotate(-27deg);
}
.selfSignature p {
    /* position: absolute; */
    /* bottom: 0; */
    /* right: 0; */
    width: 100%;
    color: var(--whiteColor);
    font-size: 40px;
    z-index: 1;
    font-family: 'Blancha';
}

/* Header */

header {
    position: fixed;
    top: 0;
    width: 100%;
    padding: 0 60px;
    z-index: 9;
}
header .headerInner .myLogo img {
    width: 100%;
    max-width: 90px;
}
header .headerInner {
    padding: 15px 0;
    position: relative;
}
header .headerInner:after {
    content: '';
    position: absolute;
    height: 2px;
    background: var(--whiteColor);
    width: 100px;
    left: 50%;
    transform: translate(-50%,-50%);
}
header .headerInner .lRSide p {
    font-weight: 500;
    color: var(--whiteColor);
}
header .headerInner .lRSide span {
    display: block;
    width: 70px;
    background: var(--whiteColor);
    height: 2px;
    margin: 0 25px;
}
.myLogo p {
    font-size: 35px;
    font-weight: 700;
    color: var(--whiteColor);
}
.myLogo p span {
    text-transform: uppercase;
}


/* Slider */
.MainSlider {
    position: absolute;
    bottom: 100px;
    width: 100%;
    max-width: max-content;
    right: 0;
}
.BannerBlock .MainSlider ul {
    padding: 0;
    display: flex;
    align-items: center;
    margin: 0 0 0 auto;
    justify-content: flex-end;
}
.BannerBlock .MainSlider ul li {
    list-style: none;
    background: #fff;
    margin: 8px;
    border-radius: 15px;
    cursor: pointer;
    min-height: 200px;
    width: 150px;
    transition: all 0.4s linear;
    overflow: hidden;

}
.BannerBlock .MainSlider ul li .onFullScreenShow img {
    width: 100%;
    object-fit: cover;
    height: 200px;
}




.slider, .bgImages {
    display: block;
    width: 100%;
    height: 100%;
    position: relative;
    
}
.BannerBlock {
    height: 100vh;
    position: fixed;
    top: 0;
    width: 100%;
}

.fullScreenSlide .mainBlock {
    background: black;
    height: 100vh;
    position: relative;
    overflow: hidden;
}
.BannerBlock .MainSlider ul li .slider h1 {
    position: absolute;
    color: #fff;
    font-size: 50px;
    font-family: 'Blancha';
    font-weight: 800;
    top: 70px;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 100%;
    text-align: center;
}
.selfImgage:after {
    content: '';
    position: absolute;
    width: 100%;
    max-width: 400px;
    height: 400px;
    background: #00dee3;
    left: 50%;
    top: 0;
    transform: translate(-60%,-21%);
    z-index: -1;
    border-radius: 50%;
    box-shadow: 0 0 0 #000, 0 0 20px 9px #00dee3;
    display: none;
}
.fullScreenSlide {
    padding: 70px 0;
    /* position: fixed; */
    width: 100%;
    height: 100%;
    /* max-width: calc(100% - 120px); */
    max-width: 100%;
    /* transform: translate(-50%,-50%);
    top: 50%;
    left: 50%; */
    overflow: auto;
}
.onFullScreenShowtext {
    position: absolute;
    top:50%;
    width: max-content;
    z-index: 9;
    left: 76px;
}
 .bannerText p {
    font-size: 2.125rem;
    font-weight: 300;
    text-align: center;
    position: relative;
    max-width: -webkit-max-content;
    max-width: -moz-max-content;
    max-width: max-content;
}
.bannerText p::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 8px;
    background: #4a56fb;
    left: 0px;
    top: 50%;
    z-index: -1;
}
 .bannerText span {
    font-size: 4rem;
    font-weight: 700;
    /* opacity: 0.2; */
    text-transform: uppercase;
    line-height: 60px;
    color: var(--whiteColor);
}
.nameSingnature span {
    font-size: 50px;
    font-family: 'Blancha';
    text-transform: inherit;
    position: relative;
    top: -9px;
    color: #00c7ff;
    line-height: normal;
}
.introName .nameSingnature {
  line-height: normal;
  margin-left: 17px;
}
.selfImgage {
    position: absolute;
    left: 50%;
    top: 72%;
    transform: translate(-50%,-50%);
    width: 100%;
    max-width: 500px;
    transition: all 0.5s linear;
}
.selfImgage img {
    width: 100%;
    max-width: 450px;
}
.bgpaint {
    position: absolute;
    top: 0;
    right: 0;
    max-width: 100%;
}
.bgpaint img {
    width: 100%;
    max-width: 400px;
    filter: hue-rotate(45deg);
}
.fullName .h4 {
  color: #fd4766;
    font-size: 30px;
    font-weight: 800;
    left: 7px;
    text-transform: uppercase;
}
.devLovText {
  display: flex;
  align-items: center;
}
.devLovText .h4{
  font-size: 120px;
  /* color: #fff; */
  text-transform: uppercase;
  font-weight: 800;
  background: #fd4766;
  background: #fd4766;
  background: linear-gradient(120deg,#1c99fe 20.69%,#7644ff 50.19%,#fd4766 79.69%);
  background: linear-gradient(120deg,#1c99fe 20.69%,#7644ff 50.19%,#fd4766 79.69%);
  /* filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="var(--color-primary)",endColorstr="var(--color-secondary)",GradientType=1); */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: inline-block;
  z-index: 99;
  line-height: 110px;
}
.bannerText_{
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 100%;
  text-align: center;
  z-index: 1;
  max-width: max-content;
}
.introName {
  display: flex;
}
.fullName {
   
    display: flex;
}
.fullName span {
    
}
.fullName h1 {
    
}
.BannerBlock .MainSlider ul li:not(.activeSlider) {
    filter: blur(1px);
    /* transform: scale(0.9); */
}
.BannerBlock .MainSlider ul li:is(.activeSlider) {
    /* transform: scale(1.1) */
}
.BannerBlock .MainSlider ul li:is(:hover) {
    filter: unset;
}


/* Slider */

/* About */
.aboutMe {
    display: grid;
    grid-template-columns: 2fr 1fr;
    align-items: center;
    height: 100%;
}
.aboutMe .selfImage .image img {
    width: 100%;
    max-width: 100%;
    position: relative;
    z-index: 1;
}
.selfImage {
    text-align: right;
}
.fullScreenSlide .mainBlock:is(.slideTwo) {
    background: var(--whiteColor);
}
.aboutMe .aboutMeText h2 {
    font-size: 150px;
    font-weight: 800;
    text-transform: uppercase;
    background: #00DEE3;
    background: linear-gradient(to right, #00DEE3 0%, #fdce0c 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.aboutMe .aboutMeText span {
    font-size: 79px;
    position: absolute;
    left: 100%;
    top: 41px;
    font-weight: bold;
    text-transform: uppercase;
    transform: rotate(90deg);
    /* left: 50%; */
    /* transform: translate(-50%,-50%); */
    /* height: auto; */
    font-family: cursive;
}
.aboutMe .aboutMeText p {
    color: var(--blackColor);
    font-weight: 600;
    line-height: 22px;
    padding-left: 50px;
    position: relative;
    max-width: 530px;
    font-size: 16px;
    font-family: system-ui;
    opacity: 0.8;
}
.aboutMe .aboutMeText p.infor:before {
    content: '';
    position: absolute;
    width: 15px;
    height: 100%;    
    left: 0;
    top: 0;   
    background: rgb(0,222,227);
    background: linear-gradient(180deg, rgba(0,222,227,1) 0%, rgba(253,206,12,1) 100%);
}
.aboutMe .aboutMeText {
    padding: 25px;
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 1;
    position: relative;
}
/* .yellowLine {
    position: absolute;
    width: 100%;
    top: 0;
    height: 100%;
    background: #fdce0c;
    max-width: 300px;
    left: 50%;
    z-index: 0;
} */
.aboutMe .aboutMeText:after {
    content: '';
    width: 100%;
    height: 100vh;
    background: #fdce0c;
    position: absolute;
    right: 0;
    top: 0;
    max-width: 300px;
    z-index: -1;
}
.socialIcons {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: max-content;
    margin: 0 auto 10px 0;
    gap: 12px;
    position: relative;
}
.socialIcons .icons {
    font-family: 'FontAwesome';
}
.socialIcons:before {
    content: '';
    position: absolute;
    width: 200px;
    background: #fff;
    height: 2px;
    left: calc(100% + 20px);
    top: 17px;
}
.socialIcons .icons .onHover {
    width: 100%;
    max-width: 100px;
    overflow: hidden;
    height: 100px;
    position: absolute;
    bottom: 36px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 0 0 #000, 0 0 11px #000000b3;
}
.insta.icons .onHover {
  display: none;
}
.socialIcons .icons .onHover img {
    width: 100%;
}
.socialIcons .icons a i {
    font-style: inherit;
    color: var(--whiteColor);
}
.socialIcons .icons a {
    font-style: unset;
    width: 35px;
    border: 1px solid var(--whiteColor);
    height: 35px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.heading {
    position: relative;
    max-width: max-content;
}
.aboutMe .aboutMeText .checkMYW a {
    font-size: 41px;
    font-family: 'Blancha';
    max-width: 100%;
    margin-top: 58px;
    line-height: 74px;
    color: var(--blackColor);
    text-decoration: none;
    -webkit-transition: color 1s; /* For Safari 3.0 to 6.0 */
        transition: color 1s; /* For modern browsers */
        position: relative;
}
.checkMYW {
    padding-left: 50px;
    margin-top: 50px;
}
.aboutMe .aboutMeText .checkMYW a:hover {
    color: var(--primaryColor);
}
.arrow-down{
    width:60px;
    height:40px;
    position:absolute;
    right:-40%;
    bottom:0px;
    -webkit-animation: arrow 0.5s 1s infinite ease-out alternate;
    
  }
  
  .checkMYW a:hover .arrow-down{
     -webkit-animation-play-state: paused;
  }
  
  .left{
    position:absolute;
    height:8px;
    width:30px;
    background:black;
    -webkit-transform:rotate(240deg);
    top:10px;
    left:10px;
    -webkit-border-radius:4px;
    -webkit-transform-origin:5px 50%;
    -webkit-animation: leftArrow 0.5s 1s infinite ease-out alternate;
  }
  
  .right{
    position:absolute;
    height:8px;
    width:30px;
    background:black;
    -webkit-transform:rotate(-60deg);
    top:10px;
    left:10px;
    -webkit-border-radius:4px;
    -webkit-transform-origin:5px 50%;
    -webkit-animation: rightArrow 0.5s 1s infinite ease-out alternate;
  } 
  
  @-webkit-keyframes arrow{
    0% {
      bottom:0px;
    }
    100%{
      bottom:40px;
    }
  }
  
  
  @-webkit-keyframes leftArrow{
    0% {
    }
    100%{
      -webkit-transform:rotate(225deg);
    }
  }
  
  @-webkit-keyframes rightArrow{
    0% {
    }
    100%{
      -webkit-transform:rotate(-45deg);
    }
  }



  /* MyWork */

  .myWork {
    display: flex;
    align-items: center;
    height: 100%;
    justify-content: center;
}
.myWork .myWorkImage img {
    width: 100%;
    object-fit: cover;
    object-position: -260px 2px;
    height: 100%;
}
.myWork .myWorkImage {
    height: 100%;
    position: relative;
    flex: 0 0 20%;
    max-width: 20%;
}
.myWork .myWorkBlock {
    flex: 0 0 80%;
    max-width: 80%;
}
.myWork .myWorkImage:after {
    content: '';
    position: absolute;
    width: 300px;
    height: 100%;
    background: #FF9800;
}
.myWork .myWorkBlock .heading {
    margin: 0 auto;
}
.myWork .myWorkBlock .heading h2 {
    font-size: 110px;
    text-transform: uppercase;
    font-weight: 800;
    text-align: center;
    width: 100%;
}
.myWork .myWorkBlock .owl-carousel .owl-stage .owl-item .item .webLinks:before, .myWork .myWorkBlock .owl-carousel .owl-stage .owl-item .item .webLinks:after {
    content: '';
    bottom: 0;
    left: 0;
    width: 100%;
    height: 85%;
    display: block;
    z-index: 1;
    content: "";
    transition: opacity .65s cubic-bezier(.05,.2,.1,1);
    cursor: pointer;
    position: absolute;
    /* top: 0; */
   
}

.myWork .myWorkBlock .owl-carousel .owl-stage .owl-item .item .webLinks:before{
    background: linear-gradient(180deg,rgba(15,15,15,0),rgba(15,15,15,.75));
}
.myWork .myWorkBlock .owl-carousel .owl-stage .owl-item .item .webLinks:after{
    background: linear-gradient(180deg,transparent,#fd4766);
    background: linear-gradient(180deg,transparent,#fd4766);
    opacity: 0;
}

.myWork .myWorkBlock .owl-carousel .owl-stage .owl-item .item .webLinks:hover:before {
    opacity: 0;
  
}
.myWork .myWorkBlock .owl-carousel .owl-stage .owl-item .item .webLinks:hover:after {
    opacity: 1;
}


.myWork .myWorkBlock .owl-carousel .owl-stage .owl-item .item .webLinks {
    /* min-height: 550px; */
    background: var(--whiteColor);
    box-shadow: 0 0 0 #000, 0 0 20px 1px rgb(255 152 0 / 61%);
    border-radius: 20px;
    overflow: hidden;
    position: relative;
}
.myWork .myWorkBlock .owl-carousel .owl-stage .owl-item .item {
    padding: 25px;
}
.myWork .myWorkBlock .owl-carousel .owl-stage .owl-item .item .webLinks a img {
    width: 100%;
    height: 100%;
    aspect-ratio: 3/4;
    object-fit: cover;
}
.myWork .myWorkBlock .owl-carousel .owl-stage .owl-item .item .webLinks .projectInfo {
    position: absolute;
    bottom: 0;
    padding: 15px;
    transition: opacity .65s cubic-bezier(.05,.2,.1,1),transform .65s cubic-bezier(.05,.2,.1,1);
    z-index: 99;
}
.myWork .myWorkBlock .owl-carousel .owl-stage .owl-item .item .webLinks .projectInfo a sub {
  font-size: 13px;
  display: block;
  font-weight: 300;
}
.myWork .myWorkBlock .owl-carousel .owl-stage .owl-item .item .webLinks a.onHoverLink {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
}
.myWork .myWorkBlock .owl-carousel .owl-stage .owl-item .item .webLinks:not(:hover) .projectInfo {
    transform: translateY(100%);
}

.myWork .myWorkBlock .owl-nav [class*="owl-"] {
    position: absolute;
    width: 50px;
    border: 1px solid var(--whiteColor);
    height: 50px;
    border-radius: 50%;
    z-index: 9;
    outline: 0;
}
.myWork .myWorkBlock .owl-nav button.owl-prev {
    left: 50px;
}
.myWork .myWorkBlock .owl-nav button.owl-next {
    left: 120px;
}
.myWork .myWorkBlock .owl-nav [class*="owl-"] span {
    font-size: 49px;
    color: #fff;
    font-weight: 100;
    line-height: normal;
    height: 100%;
    display: block;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-63%);
}
.myWork .myWorkBlock .owl-nav [class*="owl-"]:hover span {
    color: #ff9800;
}
.myWork .myWorkBlock .owl-nav [class*="owl-"]:hover {
    background: #fff;
}
.myWork .myWorkBlock .owl-carousel .owl-stage .owl-item .item .webLinks .projectInfo a {
  color: #fff;
  text-decoration: underline;
  font-size: 30px;
  text-decoration: none;
  font-weight: 600;
  text-transform: uppercase;
}
.myWork .myWorkBlock .owl-nav.disabled {
  display: block;
}
.myWorkBlock {
  padding-bottom: 50px;
}

.workExpr .totalExpBlock .blockExp .companyName:before {
  content: '';
  position: absolute;
  width: 50px;
  height: 50px;
  left: 50%;
  background: #424242;
  border-radius: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  z-index: 9;
  transition: all 0.5s linear;
  
}

.workExpr .totalExpBlock .blockExp .companyName:hover:before{
  animation-name: pixel_notification_in_out;
  animation-duration: 0.8s; /* 0.8s seems perfect - but can be changed */
  animation-iteration-count: infinite;
  border: 1px solid #00c8ff; 
  background: transparent;
}

@keyframes pixel_notification_in_out {
  0% {
    width: 0;
    height: 0;
    margin-left: 0;
    margin-top: 0;
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  100% {
    width: 50px;
    height: 50px;   
    opacity: 0;
  }
}


@keyframes pixel_notification_out_in {
  0% {
    width: 50px;
    height: 50px;   
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    width: 0;
    height: 0;
    margin-left: 0;
    margin-top: 0;
    opacity: 1;
  }
}


/* SkillsSc */
.skills .heading {
  width: 100%;
  max-width: 100%;
}
.skills .heading h2 {
  font-size: 110px;
  text-transform: uppercase;
  font-weight: 800;
  text-align: center;
  width: 100%;
  display: block;
}
.skills .skillSetBlock .skillsBoxmain {
  display: flex;
  flex-wrap: wrap;
  gap: 3rem;
  justify-content: center;
}

.skills .skillSetBlock .skillsBoxmain .skillBox {
  text-align: center;
  box-shadow: 0 0 0 #000, 8px 9px 11px #0c0c0c;
  border-radius: 15px;
  padding: 15px;
  flex: 0 0 20%;
  max-width: 20%;
}
.skills .skillSetBlock .skillsBoxmain .skillBox .frameImage img {
  width: 100%;
  max-width: 150px;
  /* margin: 0 auto; */
} 
.skills .skillSetBlock .skillsBoxmain .skillBox h4, .skills .skillSetBlock .skillsBoxmain .skillBox h4 a {
  color: var(--whiteColor);
  text-transform: uppercase;
  margin: 10px 0;
  font-weight: 600;
}
.skills .skillSetBlock {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}
.skills .skillSetBlock .skillsBoxmain .skillBox .frameImage {
  height: 160px;
  display: flex;
  justify-content: center;
  align-items: center;
}
div#skills {
  background: var(--lightBlackcolor);
  padding: 80px 0 0;
} 
/* SkillsScClose */


/*  WorkExp*/
.myWorkBlock .heading {
  width: 100%;
  text-align: center;
  margin: 0 auto;
  max-width: 100%;
}
div#workExp {
  padding: 140px 0px;
  overflow: unset;
  height: unset;
}
div#workExp .myWorkBlock .heading h2 {
  position: relative;
  font-size: 60px;
  text-transform: uppercase;
  font-weight: 800;
  text-align: center;
  width: 100%;
  display: block;
  line-height: normal;
  color: #00c8ff;
  z-index: 2;
}
div#workExp .myWorkBlock .heading h2 span {
  position: absolute;
  inset: -68px;
  font-size: 300px;
  z-index: -1;
  color: #363636;
}
.workExpr .totalExpBlock .blockExp .companyName {
  /* width: calc(100% - 50%); */
  padding: 150px 50px;
  position: relative;
  display: grid;
  align-items: center;
  grid-template-columns: repeat(2, 1fr);
  gap: 5rem;
}

.workExpr .totalExpBlock .blockExp .companyName:nth-child(even) { 
  margin: 0 0 0 auto;
}
.workExpr .totalExpBlock .blockExp .companyName * {
  color: #4f4f4f;
}
div#workExp .totalExpBlock {
  max-width: 60%;
  margin: 50px  0 0 auto;
  padding: 50px 15px;
}
/* width */
div#workExp ::-webkit-scrollbar {
  width: 1px;
}
/* Handle */
div#workExp ::-webkit-scrollbar-thumb {
      background: transparent!important; 
  border-radius: 10px;
}
.workExpr .totalExpBlock .blockExp .companyName .workedPrieod p {
  font-size: 23px;
  font-size: 18px;
  display: flex; 
  align-items: center;
}

.workExpr .totalExpBlock .blockExp .companyName:after {
  content: '';
  position: absolute;
  width: 2px;
  background: #272727;
  left: 50%;
  height: 0;
  transition: all 0.5s linear;
  z-index: 2;
  top: 0;
} 
.workExpr .totalExpBlock .blockExp .companyName.activeExp:after {
  height: 100%;
}
div#workExp .totalExpBlock .blockExp {
  position: relative;
}

.workExpr .totalExpBlock .blockExp .companyName:nth-child(odd) .workedPrieod {
  grid-row: 1;
}
.workExpr .totalExpBlock .blockExp .companyName:nth-child(odd) {
  flex-direction: row-reverse;
}
.workExpr .totalExpBlock .blockExp .companyName  .workedPrieod {
  display: flex;
  align-items: center;
  justify-content: end;
}

.workExpr .totalExpBlock .blockExp .companyName:nth-child(odd) .expInform * {
  text-align: left;
}

.workExpr .totalExpBlock .blockExp .companyName:nth-child(even) .expInform * {
  text-align: right;
}

.workExpr .totalExpBlock .blockExp .companyName:nth-child(even) .workedPrieod {
  justify-content: flex-start;
}
.workExpr .totalExpBlock .blockExp .companyName h4 {
  font-weight: 800;
  font-size: 30px;
}
.workExpr .totalExpBlock .blockExp .companyName .workedPrieod p span {
  font-size: 25px;
  font-weight: 800;
}
.workExpr .totalExpBlock .blockExp .companyName .workedPrieod {
  font-size: 18px;
  font-weight: 700;
}
.workExpr .totalExpBlock .blockExp .companyName .workedPrieod p {
  margin: 0 8px;
}

div#workExp .myWorkBlock .heading {
  width: 100%;
  max-width: calc(100% - 70%);
  float: left;
  position: sticky;
  top: 100px;
}










/*WorkExpClose  */

/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #232020; 
  border-radius: 10px;
}


/* Footer */


footer {
  background: var(--lightBlackcolor);
  
}
.footerInner {
  display: grid;
  grid-template-columns: repeat(5,1fr);
  align-items: baseline;
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 15px;
}

footer {
  background: #000000;
  z-index: 1;
  position: relative;
  width: 100%;
  float: left;
  width: 100%;
}
.footerInner .contactDetails {
  grid-column: span 4;
  background: #000000;
  padding: 50px 0;
  display: flex;
  align-items: flex-end;
}
.footerInner .contactDetails .blockI h4 {
  font-size: 80px;
  color: #fff;
}
.footerInner .socialMedia .socialIcons:before{
  display: none;
}

/* Footer */




@media screen and (max-width:1500px){
  .aboutMe {   
    align-items: end;    
}
div#workExp .myWorkBlock .heading h2 span { 
  inset: 0;
  font-size: 200px;
  
}
}

@media screen and (max-width:1280px){
 
.workExpr .totalExpBlock .blockExp .companyName {
  padding: 80px 50px;
  width: 100%;
}
div#workExp .totalExpBlock {
  max-width: 70%; 
  background: rgb(0 0 0 / 48%);
  z-index: 1;
  position: relative;
}
}

@media screen and (max-width:1199px){
  .selfImgage {  
    left: 80%;  
}
.aboutMe .aboutMeText h2 {
  font-size: 100px;  
}
.aboutMe .aboutMeText span {
  font-size: 60px;  
  top: 26px; 
}
.aboutMe .aboutMeText:after {  
  max-width: 190px;
  z-index: -1;
}
}
@media screen and (max-width:992px){

body .skills .heading h2, .myWork .myWorkBlock .heading h2 {
  font-size: 80px;
  
}
div#workExp .myWorkBlock .heading {
   max-width: 100%; 
  z-index: 9;
  position: static;
}
div#workExp .myWorkBlock .heading h2 {
  display: grid;
}
div#workExp .myWorkBlock .heading h2 span {
  grid-row: 1;
  font-size: 80px;
  position: static;
}
div#workExp {
  padding: 50px 0;
}
div#workExp .totalExpBlock {
  max-width: 100%; 
}
.workExpr .totalExpBlock .blockExp .companyName {
  padding: 55px 15px;
  width: 100%;
}
.workExpr .totalExpBlock .blockExp .companyName h4 {
  font-size: 20px;
}
.workExpr .totalExpBlock .blockExp .companyName .workedPrieod * {
  font-size: 15px!important;
}
.skills .skillSetBlock .skillsBoxmain .skillBox .frameImage img { 
  max-width: 90px;  
}
.workExpr .totalExpBlock .blockExp .companyName:before {  
  width: 30px;
  height: 30px;
  
  
}
}


@media screen and (max-width:767px){
  .aboutMe {
    align-items: end;
    grid-template-columns: 1fr;
}
.fullScreenSlide .mainBlock:not(:first-child) {
  height: auto;
}
.selfImage {
  text-align: center;
}
.devLovText .h4 {
  font-size: 60px; 
  line-height: 60px;
}
.aboutMe .aboutMeText:after {
  max-width: 100%;
}
.myWork { 
  padding: 50px 0;
}
body .skills .heading h2, .myWork .myWorkBlock .heading h2, div#workExp .myWorkBlock .heading h2 span, div#workExp .myWorkBlock .heading h2 {
  font-size: 40px;
}
.skills .skillSetBlock .skillsBoxmain .skillBox { 
  flex: 0 0 45%;
  max-width: 45%;
}
.bannerText_, .onFullScreenShowtext { 
  left: 15px;
  transform: unset;  
}
.myWorkBlock, div#workExp {
  padding-bottom: 0;
}
.footerInner .contactDetails {  
  padding: 15px 0;  
}
.skills .skillSetBlock {
    padding: 50px 15px;
}
header {  
  padding: 0 15px;
}
.myWork .myWorkBlock .owl-nav [class*="owl-"]{display: none;}
.aboutMe .aboutMeText h2 {
  font-size: 60px;
}
.aboutMe .aboutMeText span {
  font-size: 33px;
  top: 20px;
}
.aboutMe .aboutMeText p {  
  max-width: 100%;
}
header.header {
  background: black;
  z-index: 99;
  position: fixed;
}
.aboutMe .selfImage .image img {
  top: 1px;
}
.selfSignature p { 
  font-size: 25px;
}
}

@media screen and (max-width:575px){
  .myLogo p {
    font-size: 27px;
}
  .aboutMe .aboutMeText p.infor:before { 
    width: 11px;
}
.aboutMe .aboutMeText p {  
  padding-left: 20px;
}
  .bannerText p {
    font-size: 18px;
}
  .bgpaint img {    
    display: none;
}
header .headerInner .lRSide span { 
  width: 30px;  
}
header .headerInner:after { 
  width: 60px; 
}
.selfImgage img { 
  filter: grayscale(1);
}
.BannerBlock { 
  position: static;
 
}
.bgAura { 
  position: absolute;
}
.skills .skillSetBlock .skillsBoxmain .skillBox {
  flex: 0 0 100%;
  max-width: 100%;
}
.workExpr .totalExpBlock .blockExp .companyName {
  grid-template-columns: 1fr;
}
.workExpr .totalExpBlock .blockExp .companyName  .workedPrieod { 
  justify-content: flex-start;
}
.workExpr .totalExpBlock .blockExp .companyName { 
  gap: 0;
}
.workExpr .totalExpBlock .blockExp .companyName:nth-child(even) .expInform * {
  text-align: left;
}
.workExpr .totalExpBlock .blockExp .companyName .workedPrieod p {
  margin: 0 8px;
}
.workExpr .totalExpBlock .blockExp .companyName:after {  
  left: 0;  
}
.workExpr .totalExpBlock .blockExp .companyName:before {
  width: 20px;
  height: 20px;
  left: 0;
}
div#workExp .totalExpBlock .blockExp {
  position: relative;
  padding-left: 22px;
}
.footerInner .contactDetails {
  grid-column: span 5;
}
.devLovText .h4 {
  font-size: 50px;
  line-height: 60px;
}
.fullName .h4 { 
  font-size: 20px;  
} 
.workExpr .totalExpBlock .blockExp .companyName .workedPrieod p:first-child {
  margin-left: 0;
}
.bannerText span {
  font-size: 30px;  
}
.nameSingnature span {
  font-size: 30px;
  top: 4px;
}
.aboutMe .aboutMeText .checkMYW a {
  font-size: 30px;
}
.left, .right {  
  height: 5px;
  width: 20px;  
}
} 













