@import '../../variable.scss';

.projectBlock{
    height: 100vh;
    background-color: $blackColor;
    padding: 40px 0;
    .headingPart {
        text-align: right;
        padding: 0 15px;
        h4 {
           color: $whiteColor;
            text-transform: uppercase;
            font-size: 25px;
            font-weight: 400;
         

        }
        :where(h2,p ){
            color: $whiteColor;
        }
        h2{
            @include heading;
        }
        p{
            font-size: 40px;
        }
    }
    .projectList {
        grid-auto-flow: column;
        display: grid;
        gap: 25px;
        padding: 100px 50px;
        .listP {
            width: 30rem;
          
            .webLinks{
                background: var(--whiteColor);
                box-shadow: 0 0 0 #000, 0 0 20px 1px rgb(255 152 0 / 61%);
                border-radius: 20px;
                overflow: hidden;
                position: relative;
                &:before, &:after {
                    content: '';
                    bottom: 0;
                    left: 0;
                    width: 100%;
                    height: 85%;
                    display: block;
                    z-index: 1;
                    content: "";
                    transition: opacity .65s cubic-bezier(.05,.2,.1,1);
                    cursor: pointer;
                    position: absolute;
                    /* top: 0; */
                   
                }
                &:before{
                    background: linear-gradient(180deg,rgba(15,15,15,0),rgba(15,15,15,.75));
                }
                &:after{
                    background: linear-gradient(180deg,transparent,#fd4766);
                    background: linear-gradient(180deg,transparent,#fd4766);
                    opacity: 0;
                }
                .projectInfo {
                    position: absolute;
                    bottom: 0;
                    padding: 15px;
                    transition: opacity .65s cubic-bezier(.05,.2,.1,1),transform .65s cubic-bezier(.05,.2,.1,1);
                    z-index: 99;
                    a {
                        color: #fff;
              text-decoration: underline;
              font-size: 30px;
              text-decoration: none;
              font-weight: 600;
              text-transform: uppercase;
              text-align: left;
    display: block;
                        sub {
                            font-size: 13px;
                            display: block;
                            font-weight: 300;
                          }
                    }
                }
            
                a {
                    img {
                        width: 100%;
                        height: 100%;
                        aspect-ratio: 3/4;
                        object-fit: cover;
                    }
                    &.onHoverLink {
                        position: absolute;
                        top: 0;
                        width: 100%;
                        height: 100%;
                        z-index: 999;
                        display: block;
                    }
            
                }
                &:not(:hover){
                    .projectInfo {
                        transform: translateY(100%);
                    }
                }
            
                &:hover{
                    &:before {
                        opacity: 0;
                      
                    }
                    &:after {
                        opacity: 1;
                    }
                }
            
            }
            
            
        }

    }

}