$whiteColor:#ffffff;
$offWhiteColor:#f1dada;
$blackColor:#0e090d;
$primaryColor: #00dee3;
$secondryColor: #333638;
$lightBlackcolor: #141212;
$perpalColor:#4a56fb;
$darkPinkColor:#fd4766;
$skyColor:#1c99fe;
$darkSkyColor:#00c7ff;


$gradientColor--1:linear-gradient(to right, #00DEE3 0%, #fdce0c 100%);



// FontColor
$fontColor--1:$offWhiteColor;

// FontFamily
$fontFamily--1 :'Blancha';
$fontFamily--2:'Right Grotesk Tight';
$fontFamily--3: 'Mango Grotesque';




@mixin heading{
    font-size: 150px;
    font-weight: 800;
    text-transform: uppercase;
    background: #00DEE3;
    background: linear-gradient(to right, #00DEE3 0%, #fdce0c 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

